<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.iu.home.board.qna.QnaMapper">

	<select id="getFileDetail" parameterType="QnaFileVO" resultType="QnaFileVO">
		SELECT * FROM QNAFILES WHERE FILENUM = #{fileNum}
	</select>

	<select id="getDetail" parameterType="QnaVO" resultMap="getDetailResult">
		SELECT Q.*, QF.fileNum, QF.fileName, QF.oriName
		FROM QNA Q
		LEFT JOIN QNAFILES QF
		ON (Q.NUM = QF.NUM)
		WHERE Q.NUM = #{num}
	</select>
	
	<resultMap type="QnaVO" id="getDetailResult">
		<id column="num" property="num"/>
		<result column="writer" property="writer"/>
		<result column="title" property="title"/>
		<result column="contents" property="contents"/>
		<result column="hit" property="hit"/>
		<result column="regDate" property="regDate"/>
		<result column="ref" property="ref"/>
		<result column="step" property="step"/>
		<result column="depth" property="depth"/>
		
		<collection property="qnaFiles" javaType="List" ofType="QnaFileVO">
			<id column="fileNum" property="fileNum"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</collection>
		
	</resultMap>

	<insert id="setQnaAdd" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO QNA VALUES (NULL, #{writer}, #{title}, #{contents}, 0, sysdate(), 0, 0, 0)
	</insert>
	
	<insert id="setQnaFileAdd" parameterType="QnaFileVO">
		INSERT INTO QNAFILES VALUES (NULL, #{num}, #{fileName}, #{oriName})
	</insert>

	<select id="getList" parameterType="Pager" resultType="QnaVO">
		SELECT * FROM QNA 
			WHERE <choose>
					<when test="kind == 'writer'">writer</when>
					<when test="kind == 'title'">title</when>
					<otherwise>contents</otherwise>
				</choose>
			LIKE CONCAT('%', #{search}, '%')
			ORDER BY num DESC LIMIT #{startRow}, #{perPage}
	</select>
	
	<select id="getCount" parameterType="Pager" resultType="Long">
		SELECT COUNT(NUM) FROM QNA
			WHERE <choose>
					<when test="kind == 'writer'">writer</when>
					<when test="kind == 'title'">title</when>
					<otherwise>contents</otherwise>
				</choose>
			LIKE CONCAT('%', #{search}, '%')
	</select>
	
</mapper>